@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: "Rubik", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fdfdff!important;
}

.navbar-toggler, .navbar-toggler-icon{
    border: none !important;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

#nav a{
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    transition: 300ms;
}
#nav ul li:nth-last-child(n+2) a::after{
    opacity: 0;
    content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: darkcyan;
	transition: opacity 300ms, transform 300ms;
}
#nav ul li:nth-last-child(n+2) a:hover::after,
#nav ul li:nth-last-child(n+2) a:focus::after
{
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
#nav ul a:hover{
    color: darkcyan;
}


#reachBtn{
    border-radius: 5px;
    background-color: white;
    border: 1px solid darkcyan;
    color: darkcyan;
    transition: 300ms;
}
#reachBtn:hover{
    background-color: darkcyan;
    color: white;
}

/* #nameDiv{
    display: block;
} */
#nameDiv #details{
    border-radius: 10px;
    box-shadow: 0px 0px 2px darkgray;
}

#nameDiv  #experience > div{
    border-radius: 10px;
    box-shadow: 0px 0px 2px darkgrey;
    transition: 300ms ease-in-out;
}

#nameDiv  #experience > div:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 4px darkgray;
}

#nameDiv #more > div{
    border-radius: 10px;
    box-shadow: 0px 0px 2px darkgrey;
    transition: 300ms ease-in-out;
}

#nameDiv #more > div:hover{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 2px darkcyan;
}

#socials .background{
    position: relative;
    transition: all 1s; 
}

#socials .background:hover::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}

.navbar-toggler:focus, .navbar-toggler-icon:focus{
    outline: none;
}

.blogDiv{
    border: 1px solid white;
    transition: 300ms;
}

.blogDiv:hover{
    border: 1px solid darkgray;
}
