@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
body{
    font-family: 'Courier New', Courier, monospace;
}

.navbar-toggler, .navbar-toggler-icon{
    border: none !important;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

#nav a{
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    transition: 300ms;
}
#nav ul li:nth-last-child(n+2) a::after{
    opacity: 0;
    content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: darkcyan;
	transition: opacity 300ms, transform 300ms;
}
#nav ul li:nth-last-child(n+2) a:hover::after,
#nav ul li:nth-last-child(n+2) a:focus::after
{
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
#nav ul a:hover{
    color: darkcyan;
}


#reachBtn{
    border-radius: 5px;
    background-color: white;
    border: 1px solid darkcyan;
    color: darkcyan;
    transition: 300ms;
}
#reachBtn:hover{
    background-color: darkcyan;
    color: white;
}

/* #nameDiv{
    display: block;
} */
#nameDiv #details{
    border-radius: 10px;
    box-shadow: 0px 0px 2px darkgray;
}

#nameDiv  #experience > div{
    border-radius: 10px;
    box-shadow: 0px 0px 2px darkgrey;
    transition: 300ms ease-in-out;
}
#nameDiv  #experience > div:hover{
    transition: 300ms ease-in-out;
    /* padding-bottom: 50px; */
}

#nameDiv  #experience > div:hover{
    border-radius: 10px;
    box-shadow: 5px 5px 15px darkgrey;
}

#nameDiv #more > div{
    border-radius: 10px;
    box-shadow: 0px 0px 2px darkgrey;
    transition: 300ms ease-in-out;
}

#nameDiv #more > div:hover{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 2px darkcyan;
}


/* #skillsDiv > :nth-child(1){
    border-radius: 10px;
    box-shadow: 0px 0px 2px darkgrey;
    transition: 300ms ease-in-out;
} */
#skillsDiv > :nth-child(2){
    border-radius: 10px;
    /* box-shadow: 0px 0px 2px darkgray; */
}
/* #skillsDiv > :nth-child(1):hover{
    cursor: pointer;
    border: 0px solid darkcyan;
    border-radius: 10px;
    box-shadow: 5px 5px 15px darkgrey;
} */

.navbar-toggler:focus, .navbar-toggler-icon:focus{
    outline: none;
}

